<div class="header-wrapper">
  <div class="header">
    <div class="left-block">
      <div class="company-name">
        <span class="first-letter">{{ "UNICORN." | translate }}</span>
        <span>{{ "EXCHANGE" | translate }}</span>
      </div>
      <div class="nav-wrapper">
        <a class="nav" routerLink="open-market">{{ "HEADER.OPEN_MARKET" | translate }}</a>
        <a class="nav" routerLink="deals">{{ "HEADER.ORDERS" | translate }}</a>
        <a class="nav">{{ "HEADER.OTHER" | translate }}</a>
      </div>
      <div class="not-verified-account">
        <img alt="attention" class="attention-icon" src="../../assets/icons/attention.svg">
        <span>{{ "HEADER.NOT_VERIFIED_ACCOUNT" | translate }}</span>
      </div>
    </div>
    <!--  <button class="default-white-btn">{{ "HEADER.BUY_COINS" | translate }}</button>-->
    <div class="right-block">
      <div class="account-info">
        <div class="balance">321,5c.</div>
        <img alt="notification" class="notification-icon" src="../../assets/icons/notification.svg">
        <a routerLink="profile/information">
          <img alt="account" class="account-icon" src="../../assets/icons/account.svg">
        </a>
      </div>
    </div>
  </div>
</div>
