<div class="modal-header">
  <h4 class="modal-title">Withdraw</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit($event, form.value)" [formGroup]="form" class="withdraw-body">
    <div class="coin-info">
      <div class="form-group">
        <label for="address">
          Withdraw coin Address
        </label>
        <input
          [formControlName]="formFields.address"
          class="form-control default-input default-field"
          id="address"
          type="text">
        <div *ngIf="submitted" class="invalid-feedback">
          <div
            *ngFor="let err of form.get(formFields.address).errors | keyvalue">{{ err.value | translate }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="amount">
          Withdraw coin Amount
        </label>
        <input
          [formControlName]="formFields.amount"
          class="form-control default-input default-field"
          id="amount"
          type="number">
        <div *ngIf="submitted" class="invalid-feedback">
          <div
            *ngFor="let err of form.get(formFields.amount).errors | keyvalue">{{ err.value | translate }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">
          Fund password
        </label>
        <input
          [formControlName]="formFields.password"
          class="form-control default-input default-field"
          id="password"
          type="password">
        <div *ngIf="submitted" class="invalid-feedback">
          <div
            *ngFor="let err of form.get(formFields.password).errors | keyvalue">{{ err.value | translate }}
          </div>
        </div>
      </div>
      <button class="red-button" type="submit">Confirm</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="activeModal.close('Close click')" class="btn btn-outline-dark" type="button">Close</button>
</div>
