<div class="modal-header">
  <span class="modal-title">Withdraw</span>
  <button (click)="activeModal.dismiss('Cross click')" class="custom-close">
    <img alt="cross" src="../../../../assets/icons/cross.svg">
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit($event, form.value)" [formGroup]="form" class="withdraw-body">
    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.address).value"
        class="custom-label"
        for="address"
      >Withdraw coin address:</label>
      <input
        [formControlName]="formFields.address"
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.address).errors }"
        class="form-control custom-input"
        id="address"
        placeholder="Withdraw coin address:"
        type="text">
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngFor="let err of form.get(formFields.address).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>
    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.amount).value"
        class="custom-label"
        for="amount"
      >Withdraw coin amount:</label>
      <input
        [formControlName]="formFields.amount"
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.amount).errors }"
        class="form-control custom-input"
        id="amount"
        placeholder="Withdraw coin amount:"
        type="number">
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngFor="let err of form.get(formFields.amount).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>
    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.password).value"
        class="custom-label"
        for="password"
      >Fund password:</label>
      <input
        [formControlName]="formFields.password"
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.password).errors }"
        class="form-control custom-input"
        id="password"
        placeholder="Fund password:"
        type="password">
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngFor="let err of form.get(formFields.password).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="red-button" type="submit">Submit</button>
    </div>
  </form>
</div>
