@import "../../../assets/styles/variables";

.create-order-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .heading {
    font-size: 35px;
    font-family: $circular_std;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .deal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 70%;
    padding: 50px 60px;
    .deal-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 30px;
      .info-icon {
        width: 9px;
        height: 9px;
        margin-top: -13px;
      }
      .default-field {
        width: 140px;
      }
      .checkbox-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        .checkbox-label {
          display: flex;
          align-items: center;
          cursor: pointer;
          .limit-text {
            max-width: 186px;
          }
          .default-checkbox {
            margin-left: 15px;
            width: fit-content;
          }
        }
      }
      .left-block,
      .right-block {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding-left: 15px;

        .currency-label {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          .currency-select {
            margin-top: 11px;
          }
        }
      }
      .left-block {
        margin-top: 10px;
      }
      .other-info-block {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .equally {
        font-size: 60px;
        margin: -18px 0 -5px;
      }
    }
    .create-order-btn {
      margin-top: 30px;
    }
  }
}
