<div class="create-order-wrapper">
  <span class="heading">
    {{ "CREATE_DEAL.HEADING" | translate }}
  </span>
  <div class="deal-wrapper">
    <form (ngSubmit)="onSubmit($event, form.value)" [formGroup]="form" class="deal-form">
      <label>
        Country
        <ng-select
          [formControlName]="formInputs.country"
          [items]="settings.countries"
          autofocus
          bindLabel="title"
          bindValue="id"
          class="default-field"
        >
        </ng-select>
      </label>

      <div class="left-block">
        <label class="currency-label">
          Crypto currency for sell
          <ng-select
            [formControlName]="formInputs.cryptoCurrencySell"
            [items]="settings.cryptoCurrencies"
            autofocus
            bindLabel="title"
            bindValue="id"
            class="default-field currency-select"
          >
          </ng-select>
        </label>
        <label class="currency-label">
          Crypto currency for buy
          <ng-select
            [items]="settings.cryptoCurrencies"
            autofocus
            bindLabel="title"
            bindValue="id"
            class="default-field currency-select"
            formControlName="{{formInputs.cryptoCurrencyBuy}}">
          </ng-select>
        </label>
      </div>
      <span class="equally">=</span>
      <div class="right-block">
        <label>
          Sell price
          <input
            [formControlName]="formInputs.cryptoCurrencySellPrice"
            class="form-control default-input default-field"
            type="number">
        </label>

        <label>
          Buy price
          <input
            [formControlName]="formInputs.cryptoCurrencySellPrice"
            class="form-control default-input default-field"
            type="number">
        </label>
      </div>

      <div class="other-info-block">
        <label>
          Payment methods
          <ng-select
            [items]="settings.paymentMethods"
            autofocus
            bindLabel="title"
            bindValue="id"
            class="default-field"
            formControlName="{{formInputs.paymentMethod}}">
          </ng-select>
        </label>

        <label>
          Bank name
          <input
            [formControlName]="formInputs.bankName"
            class="form-control default-input default-field"
            type="text">
        </label>

        <label>
          Margin % (profit)
          <input
            [formControlName]="formInputs.marginProfit"
            class="form-control default-input default-field"
            type="text">
        </label>
      </div>

      <div class="checkbox-block">
        <label class="checkbox-label">
        <span class="limit-text">
          Auto-adjust transaction limit according to price of cryptocurrency
        </span>
          <input
            [formControlName]="formInputs.isAutoAdjustTransactionLimit"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>

        <label class="checkbox-label">
          Terms of trade
          <input
            [formControlName]="formInputs.termsOfTrade"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>

        <label class="checkbox-label">
          Verified users only
          <input
            [formControlName]="formInputs.isVerifiedUsersOnly"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>

        <label class="checkbox-label">
          Trusted users only
          <input
            [formControlName]="formInputs.isTrustedUsersOnly"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>

        <label class="checkbox-label">
          Identify user before continue trade
          <input
            [formControlName]="formInputs.isIdentifyUsersBeforeContinueTrade"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>
      </div>
    </form>
    <button type="submit" class="red-button create-order-btn">
      {{ "FORMS.CREATE" | translate }}
    </button>
  </div>
</div>
