<div class="create-order-wrapper">
  <span class="heading">
    {{ "CREATE_DEAL.HEADING" | translate }}
  </span>
  <div class="deal-wrapper">
    <form (ngSubmit)="onSubmit($event, form.value)" [formGroup]="form" class="deal-form">
      <div class="main-blocks-wrapper">
        <div class="dependencies-block">
          <label>
            Country
            <ng-select
              [formControlName]="formInputs.country"
              [items]="settings.countries"
              autofocus
              bindLabel="title"
              bindValue="id"
              class="default-field"
            >
            </ng-select>
          </label>

          <label>
            Payment methods
            <ng-select
              [items]="settings.paymentMethods"
              autofocus
              bindLabel="title"
              bindValue="id"
              class="default-field"
              formControlName="{{formInputs.paymentMethod}}">
            </ng-select>
          </label>

          <label>
            Bank name
            <input
              [formControlName]="formInputs.bankName"
              class="form-control default-input default-field"
              type="text">
          </label>

          <label>
            Margin % (profit)
            <img alt="info"
                 class="info-icon"
                 src="../../../assets/icons/info.svg"
                 placement="top"
                 ngbTooltip="Profit Margin you want over the bitcoin market price. Use a negative value for buying or selling under the market price to attract more contacts. For more complex pricing edit the price equation directly."/>
            <input
              [formControlName]="formInputs.marginProfit"
              class="form-control default-input default-field"
              type="text">
          </label>
        </div>
        <div class="exchange-block">
          <div class="left-block">
            <label class="currency-label">
              Crypto currency for sell
              <ng-select
                [formControlName]="formInputs.cryptoCurrencySell"
                [items]="settings.cryptoCurrencies"
                autofocus
                bindLabel="title"
                bindValue="id"
                class="default-field currency-select"
              >
              </ng-select>
            </label>

            <label>
              Sell price
              <input
                [formControlName]="formInputs.cryptoCurrencySellPrice"
                class="form-control default-input default-field"
                type="number">
            </label>
          </div>
          <div class="change">
            <img class="change-icon" alt="change" src="../../../assets/icons/repeat.svg"/>
          </div>
          <div class="right-block">
            <label class="currency-label">
              Crypto currency for buy
              <ng-select
                [items]="settings.cryptoCurrencies"
                autofocus
                bindLabel="title"
                bindValue="id"
                class="default-field currency-select"
                formControlName="{{formInputs.cryptoCurrencyBuy}}">
              </ng-select>
            </label>

            <label>
              Buy price
              <input
                [formControlName]="formInputs.cryptoCurrencySellPrice"
                class="form-control default-input default-field"
                type="number">
            </label>
          </div>
        </div>
      </div>

      <div class="checkbox-block">
        <label class="checkbox-label">
          <span class="limit-text">
            Auto-adjust transaction limit according to price of cryptocurrency
            <img alt="info"
                 class="info-icon"
                 src="../../../assets/icons/info.svg"
                 placement="top"
                 ngbTooltip="When cryptocurrency price changes, your maximum limit will be auto-adjusted according to the price (to be able to carry out the trade with one transaction when price fluctuates)"/>
          </span>
          <input
            [formControlName]="formInputs.isAutoAdjustTransactionLimit"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>

        <label class="d-flex align-items-center">
          Terms of trade
          <img alt="info"
               class="info-icon"
               src="../../../assets/icons/info.svg"
               placement="top"
               ngbTooltip="Other information you wish to tell about your trade. Example 1: This advertisement is only for cash trades. Example 2: Please make request only when you can complete the payment with cash within 12 hours."/>
          <textarea class="form-control default-textarea"
                    [formControlName]="formInputs.termsOfTrade"
                    rows="2" cols="3"></textarea>
        </label>

        <label class="checkbox-label">
          Verified users only
          <img alt="info"
               class="info-icon"
               src="../../../assets/icons/info.svg"
               placement="top"
               ngbTooltip="To contact your advertisement, users need to verify their identity by sending IDs, driver's licence or passport."/>
          <input
            [formControlName]="formInputs.isVerifiedUsersOnly"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>

        <label class="checkbox-label">
          Trusted users only
          <img alt="info"
               class="info-icon"
               src="../../../assets/icons/info.svg"
               placement="top"
               ngbTooltip="Restrict your advertisement to be shown only to users that you have marked as Trusted. Learn how to mark users as trusted."/>
          <input
            [formControlName]="formInputs.isTrustedUsersOnly"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>

        <label class="checkbox-label">
          Identify user before continue trade
          <input
            [formControlName]="formInputs.isIdentifyUsersBeforeContinueTrade"
            class="form-control default-input default-checkbox"
            type="checkbox">
        </label>
      </div>
    </form>
    <button type="submit" class="red-button create-order-btn">
      {{ "FORMS.CREATE" | translate }}
    </button>
  </div>
</div>
