<div class="market-card-wrapper"
     [ngClass]="{'dark-card': isDarkCard, 'light-card': isLightCard}">
  <div class="market-card-header">
    <app-rating-component
      [cardRate]="2"
      [maxRate]="3"
      [isReadOnly]="true"
      [color]="'#e9e9f0'"></app-rating-component>
    <div class="seller">
      <div class="main-seller-info">
        <img class="user-img" alt="user" src="../../assets/images/user.png">
        <span class="seller-name">John Meller</span>
      </div>
<!--      <span class="date">17 feb 12:04</span>-->
    </div>
  </div>
  <div class="market-card-body">
    <div class="market-card-name-wrapper">
      <div class="market-card-icon"></div>
      <span class="market-card-name">Category/Name</span>
    </div>
    <div class="market-card-price">
      <span class="main-price">1 100€</span>
      <span class="country">Russian Federation</span>
    </div>
  </div>
  <div class="market-card-footer">
    <button class="buy-btn">
      buy
    </button>
  </div>
</div>
