<div class="alerts-wrapper">
  <ngb-alert
    *ngIf="notification"
    [ngClass]="{'fadeOutUp': closeAnimation,'fadeInDown': !closeAnimation}"
    [type]="notification.type"
    class="animated faster">
    <img
      *ngIf="notification.type === 'success'"
      alt="success-icon"
      class="alert-icon"
      src="../../../assets/icons/alert-success.svg"
    >
    <img
      *ngIf="notification.type === 'warning'"
      alt="warning-icon"
      class="alert-icon"
      src="../../../assets/icons/warning.svg"
    >
    <img
      *ngIf="notification.type === 'error'"
      alt="error-icon"
      class="alert-icon"
      src="../../../assets/icons/error.svg"
    >
    {{notification.text}}
  </ngb-alert>
</div>
