<div class="order-wrapper">
  <div class="header">
    <a routerLink="/{{ROUTES.ORDERS}}" class="back-wrapper">
      <img alt="back-img" class="back-arrow-icon" src="../../../assets/icons/back-arrow.svg">
      <span class="back-text">Go back to deals</span>
    </a>
  </div>
  <div *ngIf="state.isLoading">
    <h1>Loading</h1>
  </div>
  <div *ngIf="!state.isLoading" class="info-wrapper">
    <div class="account-wrapper">
      <img alt="user-img" class="user-img" src="../../../assets/images/user.png">
      <span class="user-name">{{order.owner.username}}</span>
      <div class="user-deals">
        <span class="heading">
          User deals:
        </span>
        <span>{{order.owner.dealsCount}}</span>
      </div>
      <app-rating-component
        [maxRate]="settings.maxRating"
        [rate]="order.owner.rating"
        [isReadOnly]="true"
      >
      </app-rating-component>
    </div>
    <div class="order-info">
      <div class="order-value-info">
        <span class="info-heading">
          Deal Amount:
        </span>
        <span class="value">
          {{order.currencyBuyPrice}} {{order.currencyBuy.title}}
        </span>
      </div>
      <div class="order-value-info">
        <span class="info-heading">
          Price:
        </span>
        <span class="value">
          {{order.currencySellPrice}} {{order.currencySell.title}}
        </span>
      </div>
      <div class="order-value-info">
        <span class="info-heading">
          Payment Method:
        </span>
        <span class="value">
          {{order.paymentMethod.title}}
        </span>
      </div>
      <div class="order-value-info">
        <span class="info-heading">
          Country:
        </span>
        <span class="value">
          {{order.country.title}}
        </span>
      </div>
      <div class="order-value-info">
        <span class="info-heading">
          Terms Of Trade:
        </span>
        <span class="value">
          {{order.termsOfTrade}}
        </span>
      </div>
    </div>
  </div>
  <div class="btn-wrapper">
    <button (click)="confirmOrder()" class="red-button">Confirm</button>
    <button (click)="declineOrder()" class="red-button">Decline</button>
  </div>
</div>
