@import "../../../assets/styles/variables";

.order-wrapper {
  width: 80%;
  background-color: #fff;
  padding: 10px 30px 30px 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    .back-wrapper {
      display: flex;
      align-items: center;

      .back-arrow-icon {
        width: 15px;
        margin-right: 5px;
      }

      .back-text {
        margin-top: 2px;
        color: $main_text_color;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .info-wrapper {
    display: flex;
    align-items: center;

    .account-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .user-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      .user-name {
        margin-top: 5px;
        font-size: 16px;
      }

      .user-deals {
        font-size: 16px;

        .heading {
          font-weight: bold;
        }
      }
    }

    .order-info {
      margin-left: 100px;

      .order-value-info {
        .info-heading {
          font-weight: bold;
        }
      }
    }
  }

  .confirm-btn {
    margin-top: 30px;
  }
}
