.profile-deals-wrapper {
  padding: 20px 130px;

  .table-wrapper {
    background-color: #fff;
    overflow: scroll;
    margin-bottom: 50px;
    margin-top: 30px;

    .actions-wrapper {
      min-width: 100px;

      .thumb {
        width: 25px;
        display: inline-block;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.2s;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
          margin-left: 10px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
