<div class="login-form">
  <div class="login-header flex-column flex-md-row">
    <a
      class="default-link"
      routerLink="/{{ROUTES.SIGN_UP}}">{{ "AUTHORIZATION.SIGN_IN.DONT_HAVE_ACCOUNT" | translate }}
    </a>
    <div (click)="loginWithGoogle()" class="google-sign-in">
      <img alt="google" class="google-icon" src="../../../assets/icons/google.svg">
      <span>{{ "AUTHORIZATION.LOGIN_GOOGLE" | translate }}</span>
    </div>
  </div>
  <span class="heading">{{ "AUTHORIZATION.SIGN_IN.SIGN_IN_HEADER" | translate }}</span>

  <form (ngSubmit)="onSubmit($event, form.value)" [formGroup]="form" class="default-form">
    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.email).value"
        class="custom-label"
        for="email"
      >{{'FORMS.EMAIL' | translate}}:</label>
      <input
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.email).errors }"
        [formControlName]="formFields.email"
        id="email"
        [placeholder]="'FORMS.EMAIL' | translate"
        class="form-control custom-input"
        type="text">
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngFor="let err of form.get(formFields.email).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>

    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.password).value"
        class="custom-label"
        for="password"
      >{{'FORMS.PASSWORD' | translate}}:</label>
      <input
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.password).errors }"
        [formControlName]="formFields.password"
        id="password"
        [placeholder]="'FORMS.PASSWORD' | translate"
        class="form-control custom-input"
        type="text">
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngFor="let err of form.get(formFields.password).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>

    <div class="btn-wrapper">
      <button class="red-button" type="submit">{{ "FORMS.NEXT" | translate }}</button>
    </div>
  </form>
</div>
