<div class="login-form">
  <div class="login-header">
    <a
      class="default-link"
      routerLink="/{{ROUTES.SIGN_UP}}">{{ "AUTHORIZATION.SIGN_IN.DONT_HAVE_ACCOUNT" | translate }}
    </a>
    <span>{{ "AUTHORIZATION.LOGIN_GOOGLE" | translate }}</span>
  </div>
  <span class="heading">{{ "AUTHORIZATION.SIGN_IN.SIGN_IN_HEADER" | translate }}</span>

  <form (ngSubmit)="onClickSubmit($event, form.value)" [formGroup]="form" class="default-form">
    <label>
      Email:
      <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
             [placeholder]="'FORMS.EMAIL' | translate"
             class="form-control default-input"
             formControlName="email"
             id="email"
             type="text">
    </label>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">{{ "FORMS.EMAIL_REQUIRED" | translate }}</div>
      <div *ngIf="f.email.errors.email">{{ "FORMS.EMAIL_ERROR" | translate }}</div>
    </div>
    <label>
      Password:
      <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
             [placeholder]="'FORMS.PASSWORD' | translate"
             class="form-control default-input"
             formControlName="password"
             id="password"
             type="password">
    </label>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">{{ "FORMS.PASSWORD_REQUIRED" | translate }}</div>
      <div *ngIf="f.password.errors.minlength">{{ "FORMS.PASSWORD_ERROR" | translate }}</div>
    </div>
    <div class="btn-wrapper">
      <button class="red-button" type="submit">{{ "FORMS.NEXT" | translate }}</button>
    </div>
  </form>
</div>
