@import "../../../assets/styles/variables";

.open-market {
  .open-market-heading {
    font-family: $circular_std;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
  }

  .cards-wrapper {
    display: flex;
    justify-content: space-between;

    //.card-wrapper {
    //  &:active,
    //  &:focus {
    //    margin-top: -35px;
    //  }
    //}
  }

  .reroll-wrapper {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reroll-icon-wrapper {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      background-color: $main_red_color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer;
    }
  }
}
