<app-header-component></app-header-component>

<div>
  <div *ngIf="CONFIG.IS_DEV">
    <a routerLink="/">Base</a> |
    <a [routerLink]="ROUTES.SIGN_IN">Sign In</a> |
    <a [routerLink]="ROUTES.SIGN_UP">Sign Up</a> |
    <a [routerLink]="ROUTES.PROFILE.base + '/' + ROUTES.PROFILE.INFO">Profile Info</a> |
    <a [routerLink]="ROUTES.PROFILE.base + '/' + ROUTES.PROFILE.CHANGE_PASSWORD">Change password</a> |
    <a [routerLink]="ROUTES.OPEN_MARKET">Market</a> |
    <a [routerLink]="ROUTES.CREATE_ORDER">Create Order</a> |
    <a [routerLink]="ROUTES.ORDERS">Orders</a> |
    <a [routerLink]="ROUTES.ORDER + '/1'">Order</a> |
    <a [routerLink]="ROUTES.WITHDRAW">Withdraw</a> |
    <a [routerLink]="ROUTES.DEPOSIT">Deposit</a> |
    <a [routerLink]="ROUTES.PROCESSING">Deal processing</a> |
  </div>

  <button (click)="alertClick()">alert</button>
  <app-alerts-component [alertType]="alertType"></app-alerts-component>
</div>

<router-outlet></router-outlet>

<app-footer-component></app-footer-component>
