@import "../assets/styles/variables.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: $circular_book;
  background-color: $main_background_color;
  color: $main_text_color;
}
