.profile-password {
  display: flex;
  flex-direction: column;
  padding: 0 130px 30px 130px;

  .password-form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 61px 72px 54px 72px;

    .custom-form-group {
      width: 400px;
    }

    .password-btn {
      margin-top: 70px;
    }
  }
}
