<form (ngSubmit)="onClickSubmit($event)" [formGroup]="form" class="profile-password">
  <div class="password-form-wrapper">
    <input
      [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"
      [placeholder]="'PROFILE.PASSWORD_BLOCK.OLD_PASSWORD' | translate"
      class="default-input password-input">
    <input
      [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
      [placeholder]="'PROFILE.PASSWORD_BLOCK.NEW_PASSWORD' | translate"
      class="default-input password-input">
    <input
      [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
      [placeholder]="'PROFILE.PASSWORD_BLOCK.CONFIRM_PASSWORD' | translate"
      class="default-input password-input">
  </div>
  <button type="submit" class="red-button password-btn">
    {{ "FORMS.ACCEPT" | translate }}
  </button>
</form>
