<form (ngSubmit)="onSubmit($event, form.value)" [formGroup]="form" class="profile-password">
  <div class="password-form-wrapper">
    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.oldPassword).value"
        class="custom-label"
        for="oldPassword"
      >{{'PROFILE.PASSWORD_BLOCK.OLD_PASSWORD' | translate}}:</label>
      <input
        [formControlName]="formFields.oldPassword"
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.oldPassword).errors }"
        [placeholder]="'PROFILE.PASSWORD_BLOCK.OLD_PASSWORD' | translate"
        class="form-control custom-input"
        id="oldPassword"
        type="text">
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngFor="let err of form.get(formFields.oldPassword).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>
    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.newPassword).value"
        class="custom-label"
        for="newPassword"
      >{{'PROFILE.PASSWORD_BLOCK.NEW_PASSWORD' | translate}}:</label>
      <input
        [formControlName]="formFields.newPassword"
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.newPassword).errors }"
        [placeholder]="'PROFILE.PASSWORD_BLOCK.NEW_PASSWORD' | translate"
        class="form-control custom-input"
        id="newPassword"
        type="text">
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngFor="let err of form.get(formFields.newPassword).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>
    <div class="form-group custom-form-group">
      <label
        *ngIf="form.get(formFields.confirmPassword).value"
        class="custom-label"
        for="confirmPassword"
      >{{'PROFILE.PASSWORD_BLOCK.CONFIRM_PASSWORD' | translate}}:</label>
      <input
        [formControlName]="formFields.confirmPassword"
        [ngClass]="{ 'is-invalid': submitted && form.get(formFields.confirmPassword).errors }"
        [placeholder]="'PROFILE.PASSWORD_BLOCK.CONFIRM_PASSWORD' | translate"
        class="form-control custom-input"
        id="confirmPassword"
        type="text">
      <div *ngIf="submitted" class="invalid-feedback">
        <div
          *ngFor="let err of form.get(formFields.confirmPassword).errors | keyvalue">{{ err.value | translate }}</div>
      </div>
    </div>
    <button class="red-button password-btn" type="submit">
      {{ "FORMS.ACCEPT" | translate }}
    </button>
  </div>
</form>
