<div class="orders-wrapper">
  <div class="orders">
    <button (click)="loadOrders()">Load Orders</button>
    <form [formGroup]="filersForm" class="filters-wrapper flex-column flex-md-row">
      <label class="filter-label">
        Currency for sell
        <ng-select
          [formControlName]="orderCommonFields.currencySell"
          [items]="settings.currencies"
          autofocus
          bindLabel="title"
          bindValue="id"
          class="default-field currency-select"
        >
        </ng-select>
      </label>
      <label class="filter-label">
        Currency for buy
        <ng-select
          [items]="settings.currencies"
          autofocus
          bindLabel="title"
          bindValue="id"
          class="default-field currency-select"
          formControlName="{{orderCommonFields.currencyBuy}}">
        </ng-select>
      </label>
      <label class="filter-label">
        Country
        <ng-select
          [formControlName]="orderFilersFields.countryId"
          [items]="settings.countries"
          autofocus
          bindLabel="title"
          bindValue="id"
          class="default-field"
        >
        </ng-select>
      </label>
      <label class="filter-label">
        Payment methods
        <ng-select
          [items]="settings.paymentMethods"
          autofocus
          bindLabel="title"
          bindValue="id"
          class="default-field"
          formControlName="{{orderFilersFields.paymentMethodId}}">
        </ng-select>
      </label>
      <button type="submit" class="red-button create-order-btn">
        {{ "FORMS.ACCEPT" | translate }}
      </button>
    </form>
    <div class="table-wrapper">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Deal Amount</th>
          <th scope="col">Price</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders" [routerLink]="['/order', order.id]" class="pointer">
          <th scope="row">{{ order.id }}</th>
          <td>
            {{ order.owner.username }}
            {{ order.owner.email }}
          </td>
          <td>{{ order.currencyBuyPrice | number }} {{order.currencyBuy.title}}</td>
          <td>{{ order.currencySellPrice | number }} {{order.currencySell.title}}</td>
          <td>{{ order.paymentMethod.title }}</td>
          <td>
            <button (click)="confirmOrder(order.id)">Confirm</button>
            <button (click)="declineOrder(order.id)">Decline</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
