@font-face {
  font-family: 'Circular Std Book';
  src: url('assets/fonts/Circular/CircularStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('assets/fonts/Circular/CircularStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('assets/fonts/Circular/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('assets/fonts/Circular/CircularStd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

