@import "./variables";

// Forms
.login-form {
  background-color: #fff;
  width: 60%;
  margin: auto;
  padding: 80px 128px;

  .login-header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 70px;
  }

  .heading {
    font-size: 47px;
    font-family: $circular_std;
    font-weight: bold;
  }

  .default-form {
    margin-top: 50px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;

    .invalid-feedback {
      color: $main_red_color;
      margin-top: 6px;
    }

    .btn-wrapper {
      margin-top: 40px;
    }
  }

  .form-control {
    margin-top: 40px;
  }

  .form-control:first-child {
    margin-top: 0;
  }

  .form-check-conditions {
    margin-top: 40px;
    margin-left: 20px;
  }
}

// Default components
.default-input {
  border: none;
  color: #000;
  border-bottom: 1px solid #E9E9F0;
  font-size: 15px;
  background-color: inherit;
  padding: 9px 3px;
  border-radius: 0;
  box-shadow: none;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px solid $main_red_color;
    box-shadow: none;
  }
}

.default-checkbox {
  box-shadow: none;
  border: solid 1px #808495;
  width: 18px;
  border-radius: 4px;
  margin-right: 15px;
  height: 18px;
}

.default-white-btn {
  border-radius: 4px;
  border: none;
  background-color: #fff;
  box-shadow: none;
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  min-width: 185px;
  width: fit-content;
  cursor: pointer;
}

.default-link {
  color: #000;
  text-decoration: underline;
}

.red-button {
  border-radius: 4px;
  border: solid 1px $main_red_color;
  background-color: $main_red_color;
  box-shadow: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  min-width: 185px;
  width: fit-content;
  cursor: pointer;
}

.thin-btn {
  border: none;
  background-color: inherit;
  min-width: 185px;
  color: #909090;
  text-decoration: underline;
  font-size: 15px;
}


// Global changes
::placeholder {
  color: #000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.switch-medium small {
  width: 17px !important;
  height: 17px !important;
  top: 6.5px !important;
  left: 5px !important;
  box-shadow: none !important;
}

.switch-medium.checked small {
  left: 30px !important;
}

// Common classes
.pointer {
  cursor: pointer;
}
